@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="jumbotron">
    <h1>Contoso University</h1>
    <img class="logo" src="~/images/mjollnir-logo-1.png" />
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Learn About Contoso University</h2>
        <p>
            <a class="btn btn-default" asp-page="/About">
                About Us &raquo;
            </a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Meet our Instructors</h2>
        <a class="btn btn-default" asp-page="/Instructors/Index">
            Faculty &raquo;
        </a>
    </div>
    <div class="col-md-4">
        <h2>Explore Your Options</h2>
        <p>
            <a class="btn btn-default" asp-page="/Courses/Index">
                Course Catalog &raquo;
            </a>
        </p>
    </div>
</div>
<div class="bigImage">
    <h2>Welcome to Contoso University</h2>
</div>